.heroSection{
    background: url('https://img.freepik.com/free-vector/gradient-galaxy-background_23-2148982723.jpg?w=996&t=st=1682266296~exp=1682266896~hmac=c0f652c6c255fc713ade650b62e36892e979bb965887acd5e2d63771e9996742') no-repeat;
    background-size: cover;
    background-position: inherit;
    height: 25em;
    color: #fff;
    display: flex;
}

.heroWrap {
    padding:0 0 0 2em;
    margin-top: 5em;
}

.register {
    background-color: purple;
    color: #fff;
    padding: 1em 0.5em;
    display: inline-block;
    border-radius: 5px;
    margin: 1em 0;
}
