@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

footer {
  display: flex;
  padding: 1em;
  gap: 1em;
  border-top: 1px solid grey;
  font-size: 1.3em;
}

.navItem a {
  text-decoration: none;
  color: grey;
}

.data-results {
  width: 200px;
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 12;
  top: 50px;
  border: 2px solid #000;
  border-radius: 5px;
}
