 .main {
     display: grid;
     padding: 1em;
 }

 @media (min-width: 40rem) {
     .main {
         grid-template-columns: repeat(2, 1fr);
         gap: 1em;
     }
 }

 @media (min-width: 60rem) {
     .main {
         grid-template-columns: repeat(3, 1fr);
     }
 }