.listingsContainer {
  padding: 16px;
  display: grid;
}

@media (min-width:40rem) {
  .listingsContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
  }
}

@media (min-width:60rem) {
  .listingsContainer {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
  }
}