.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.asideContainer{
    background: #d9d9d9;
    
}
.loginContainer{
    background: #fff;
    border: 1px solid black;
}

.asideContainer,
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.asideContainer image,
.loginImage{
    margin-bottom: 5rem;
}

.asideContainer h2{
    margin-bottom: 1.6rem;
    text-align: center;
    white-space: nowrap;
    padding: 0 5px;
    font-size: 20px;
}

.asideContainer p{
    max-width: 400px;
    text-align: center;
    font-size: 80%;
    padding: 0 30px;
}

.loginFooter a {
    text-decoration: none;

}