/* customizableAside css */

    .asideContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #219ebc;
        min-height: 100vh;
    } 
    .asideContainer img{
        margin-bottom: 5rem;
    }
    .asideContainer h2 {
        margin-bottom: 1.6rem;
        text-align: center;
        white-space: nowrap; 
        padding: 0 5px;  
        font-size: 20px;
    }
    .asideContainer p{
        max-width: 400px;
        text-align: center;
        font-size: 80%;
        padding: 0 30px;
        
    }  