
/* ============= Card Image =============== */

.img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

/* ============= Card Body =============== */
.cardBody {
  padding: 2px 16px;
  text-align: center;
  margin: 2rem 0 2rem 0;
}


.edit,
.view {
  padding: 0.2rem 0.5rem;
  font-weight: 700;
}

.edit {
  background: #2D65B4;
  border-radius: 5px;
  color: white;
}

.view {
  border: solid 2px #2D65B4;
  border-radius: 5px;
  color: #2D65B4;
}

.delete {
  width: 80%;
  padding: 0.3rem;
  background: red;
  border-radius: 8px;
  display: block;
  margin:1em auto 0;
}

.unpublish {
  display: block;
  margin: auto;
  width: 80%;
  padding: 0.3rem;
  background: rgb(183, 183, 183);
  border-radius: 8px;
}
